*

!icons/
!icons/*.svg
!icons/*.jpeg

!ppg_arrythmia_notebook/
!ppg_arrythmia_notebook/*

!python_demo/
!python_demo/*
python_demo/.venv/

!health_dashboard.py
!music_player.py
!MV_Hackathon_Proposal.docx
!opencv_widget.py
!speedometer.py

!.env
!.gitignore
!README.md